extend base

block content 
    #container
        h1= title 
        .account 
            form.form.form-name
                h2 Modifier mes informations
                .form-group
                    label(for='name') Votre nom  :
                    input#name(type='text', name='name', value=`${user.name}`, required)
                .form-group
                    label(for='firstname') Votre prénom  :
                    input#firstname(type='text', name='firstname', value=`${user.firstname}`, required)
                .form-group   
                    label(for='email') Votre email :
                    input#email(type='email', name='email', value=`${user.email}`, required)
                .form__group.form__photo-upload
                    img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
                    input#photo.form__upload(type='file' accept='image/*' name='photo')
                    label(for='photo') Changer la photo

                .form-group.top
                    button  Valider
            

            form.form.form-password
                h2 Changer de mot de passe
                .form-group
                    label(for='password-current') Votre mot de passe actuel:
                    input#password-current(type='password', placeholder='••••••••', required, minlength='8')
                .form-group
                    label(for='password') Nouveau mot de passe :
                    input#password(type='password', name='password', placeholder='••••••••', required, minlength='8')
                .form-group  
                    label(for='password-confirm') Confirmer le mot de passe :
                    input#password-confirm(type='password', name='password-confirm', placeholder='••••••••', required, minlength='8')
                .form-group.middle
                    button.btn--save-password Valider

            if (user.role === 'admin')


                form.form.form-newBenefit
                    h2 Créer une nouvelle prestation

                    .form-group
                        label(for='new-type') Catégorie de la prestation :
                        input#new-type(type='text', name='new-type', required)
                    .form-group
                        label(for='new-title') Titre de la prestation :
                        input#new-title(type='text', name='new-title', required)
                    .form-group
                        label(for='new-description') Description de la prestation :
                        textarea#new-description(type='text' cols="30" rows="10" name='new-description', required)
                    .form-group
                        label(for='new-price') Prix de la prestation :
                        input#new-price(type='number', name='new-price', required)

                    .form-group.bottom
                        button.btn--save-benefit Valider

                    p INFO : pour modifier, rendez-vous sur la page de la prestation en question.

                //- faire apparaitre les users dans un tableau avec un bouton supprimer

                form.form.form--deleteUser
                    h2 Supprimer un utilisateur

                    .form-group
                        label(for='user') Utilisateur à supprimer :
                        select#user-select(name='user')
                            each user in users
                                option#user-id(value=`${user.id}`)= user.name+' '+user.firstname+' - '+user.email

                    .form-group.bottom
                        button.btn--delete-user Supprimer


