extends base

block content 

    #container
        h1= benefit.type
        //- - console.log(user.role)

        if (user && user.role === 'admin')
            .benefit 

                form.form.form-updateBenefit
                    h2 Modifier la prestation
                    .form-group
                        input#update-id(type='hidden', name='update-id', value=`${benefit.id}`, required)

                    .form-group
                        label(for='update-type') Catégorie de la prestation :
                        input#update-type(type='text', name='update-type', value=`${benefit.type}`, required)
                    .form-group
                        label(for='update-title') Titre de la prestation :
                        input#update-title(type='text', name='update-title',value=`${benefit.title}`, required)
                    .form-group
                        label(for='update-description') Description de la prestation :
                        input#update-description(type='text' cols="30" rows="10" name='update-description' value=`${benefit.description}` required)
                    .form-group
                        label(for='update-price') Prix de la prestation :
                        input#update-price(type='number', name='update-price', value=`${benefit.price}`, required)

                    .form-group.bottom
                        button.btn--update-benefit Modifier
                        
                button.btn--delete-benefit Supprimer

        //- si aucun utilisateur n'est connecté on peut voir les commentaires
        if (!user || user.role === 'user')
            .benefit
                
                .aboutBenefit 
                    .description 
                        h2= benefit.title
                        p= benefit.description

                    .priceBenefit 
                        span= `Prix: ${benefit.price}€`
                        span= `Note: ${benefit.ratingsAverage}/5`

                .contactBenefit
                    a.contactUs(href='/contact') Contactez-nous 



            h2 Avis

            .reviewBox
                each review in benefit.reviews
                        .article 
                            h3= review.user.firstname
                            p= `"${review.review }"`
                            span= `Note: ${review.rating}/5`

            //- si un utilisateur est connecté il peut laisser un commentaire
        if (user && user.role === 'user')

            .benefit

                form.form.form-addReview 
                    h2 Laisser un avis
                    .form-group
                        label(for='rating') Note
                        input#review-rating(name='review-rating' required)
                    .form-group
                        label(for='review') Avis
                        textarea#review-new(name='review-new'  cols='30' rows='10' required)
                    .form-group 
                        input#benefit-id(type='text', name='benefit-id', value=`${benefit.id}`)
                    .form-group 
                        input#user-id(type='text', name='user-id', value=`${user.id}`)
                    .form-group.bottom
                        button.btn--add-review Ajouter


