extends base

block content 

    #container
        h1= benefit.type

        .benefit
            
            .aboutBenefit 
                .description 
                    h2= benefit.title
                    p= benefit.description

                .priceBenefit 
                    span= `Prix: ${benefit.price}€`
                    span= `Note: ${benefit.ratingsAverage}/5`

            .contactBenefit
                a.contactUs(href='/contact') Contactez-nous 



        h2 Avis



        
        .reviewBox
            each review in benefit.reviews
                    .article 
                        h3= review.user.firstname
                        p= `"${review.review }"`
                        span= `Note: ${review.rating}/5`
        
        a.addReview(href='#') Ajouter un avis



